body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}


.logo1{
    border-radius: 14px;
    position: absolute;
    width: 10px;
    height: 24px;
    left: 187px;
    top: 8px;
    background: #29D9E4;
    border-radius: 14px;
    transform: rotate(40.63deg);
}

.logo2{
    border-radius: 14px;
    position: absolute;
    width: 10px;
    height: 24px;
    left: 200px;
    top: 10px;
    background: #29E48A;
    border-radius: 14px;
    transform: rotate(40.63deg);
}

.container1{
    background-color: #29E48A;
    width: 100%;
    height:570px;
}

.heading{
    color: white;
    font-weight: bold;
    font-size:72px;
}

.subheading{
    color: white;
    font-weight: normal;
    font-size:64px;
}

.head_img{
    background-image: url('img/designer.svg');
    background-size: cover;
    height: 600px;
    align-content: center;
    position: absolute;
    top: 110px;
}

#ops{
    opacity: 0.5;
    padding: 0;
    margin: 0;
    box-sizing: 0;   
}

#ops:hover{
    opacity: 1;
    background-color:white;
    cursor: pointer;
    transform: scaleY(0.9);
    transform: scaleX(0.9);
    transition-duration: 1s;

}

@media only screen and (max-width:550px){
   
.head_img{
    background-image: url('img/designer.svg');
    background-size: contain;
    height: 600px;
    align-content: center;
    position: absolute;
    top: 370px;
    width:340px;
    height: 300px;
} 
    
.heading{
    color: white;
    font-weight: bold;
    font-size:56px;
}

.subheading{
    color: white;
    font-weight: normal;
    font-size:48px;
}

}

.skills_img{
    background-image: url('img/skills.png');
    background-size: cover;
    height: 700px;
}

.pro_title{
    border: 1px solid rgb(197, 197, 197);
    height: 400px;
}
.pro_image{
    border: 1px solid  rgb(197, 197, 197);
    height: 400px;

}
